// Import global stylesheet
@import "../global";

/* Custom Styling */

// TODO: organize, determine what styles are unnecessary

// TODO: remove?
#striped_Box {
  padding: 25px;
  margin: auto;
  //background: url("Assets/bg-stripes.png") repeat #fff;
  border: 1px #AAF solid;
  overflow: hidden;
  box-shadow: 2px 2px 8px #888;
  border-radius: 8px;
}

// TODO: remove?
#input {
  position: relative;
}

// TODO: use CSS loader instead
#loadingIcon {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

.dNone {
  display: none;
}

#output {
  position: relative;
}

#atLibrary {
  background: #fcfcfc;
  border: 2px black solid;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

